@use "../../../styles/variables/" as *;

#mini-blog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-wrapper {
      text-align: center;
      margin-bottom: 16px;
    }

    .blog-wrapper {
      display: flex;

      .blog-card {
        position: relative;

        .text-card {
          position: absolute;
          background-color: $silver;

          width: 90%;
          border-radius: 8px;
          left: 50%;
          transform: translateX(-50%);
          padding: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .blog-title {
            font-weight: 500;
            text-align: center;
            color: $gray;
            line-height: 1.5;
          }

          .blog-link {
            color: $shade1;
            font-weight: 600;
            margin-top: 16px;
          }
        }
      }
    }
  }

  @include media("<lg") {
    .container {
      .sub-text {
        max-width: 500px;
      }

      .blog-wrapper {
        flex-direction: column;

        .blog-card {
          min-height: 400px;

          img {
            max-width: 350px;
          }

          .text-card {
            bottom: 30px;

            .blog-title {
              font-size: 20px;
            }

            .blog-link {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  @include media(">=lg") {
    .blog-wrapper {
      gap: 20px;

      .blog-card {
        img {
          max-width: 320px;
        }

        .text-card {
          bottom: -50px;

          .blog-title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
