@use "../../../styles/variables/" as *;

#pixel-grade {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;

    .text {
      margin-bottom: 32px;
    }
  }

  @include media("<lg") {
    .container {
      flex-direction: column;

      .text-wrapper {
        margin-top: 50px;

        p {
          max-width: 400px;
        }
      }
    }
  }

  @include media(">=lg") {
    .container {
      flex-direction: row;
    }
  }
}
