@use "../../styles/variables" as *;

button {
  position: relative;
  padding: 16px 32px;

  @include media("<lg") {
    font-size: 16px;
    width: 50%;
  }

  @include media(">=lg") {
    font-size: 24px;
  }
}

.primary {
  background-color: $shade1;
  color: $white;

  &:focus {
    background-color: $shade1;
    outline: 2px solid $darkgray;
  }

  &:active {
    background-color: $shade2;
  }
}

.normal {
  padding: 16px 32px;
}

.medium {
  padding: 14px 32px;
}

.small {
  padding: 8px 24px;
}
