@use "../../../styles/variables/" as *;

#testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .container {
    display: flex;

    .name {
      color: $shade1;
      font-weight: 600;
      font-size: 24px;
    }

    .position {
      color: $lightgray;
    }
  }

  @include media("<lg") {
    padding: 100px 50px;

    .container {
      flex-direction: column;
      align-items: center;

      .text-wrapper {
        margin-top: 50px;

        p {
          max-width: 500px;
        }

        .name,
        .position {
          margin-top: 10px;
        }

        .name {
          font-size: 24px;
        }
      }
    }
  }

  @include media(">=lg") {
    .container {
      column-gap: 80px;
      flex-direction: row;
      align-items: center;

      .name {
        margin-top: 20px;
      }
    }
  }
}
